.sections-wrapper {
  .sections {
    height: 100%;
    margin: 0 10px;
    list-style: none;
    background: #555;
    min-width: 300px;

    .menu-item {
      color: #fff;
      display: block;
      text-decoration: none;
      padding: 12px 20px 12px 40px;
      box-shadow: inset 0 -1px 0px rgba(0, 0, 0, .1);
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    a {
      &:hover {
        background: #444;
      }
    }
  }
}
